/*@import 'tailwindcss/base';*/
/*@import 'tailwindcss/components';*/
/*@import 'tailwindcss/utilities';*/


/* Luckiest Guy font */
@font-face {
  font-family: 'Luckiest Guy';
  src: url('../fonts/LuckiestGuy/LuckiestGuy-Regular.ttf')  format('truetype');
  font-weight: 400;
}


/* Poppins font */
@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins/Poppins-Light.ttf')  format('truetype');
  font-weight: 300;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins/Poppins-Regular.ttf')  format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins/Poppins-Medium.ttf')  format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins/Poppins-Bold.ttf')  format('truetype');
  font-weight: 700;
}

/* Roboto font */
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto/Roboto-Medium.ttf')  format('truetype');
  font-weight: 500;
}

/* Stardos Stencil font */
@font-face {
  font-family: 'Stardos Stencil';
  src: url('../fonts/StardosStencil/StardosStencil-Regular.ttf')  format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Stardos Stencil';
  src: url('../fonts/StardosStencil/StardosStencil-Bold.ttf') format('truetype');
  font-weight: 700;
}

html, body, #__nuxt {
  height: 100%;
}

body {
  min-height: 100%;
  max-height: 100%;
  margin: 0;
  font-family: Poppins;
  font-weight: 300;
  box-sizing: border-box;
  color: white;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
